/*Changes the font size for the a element, removes decoration and aligns it to the center */
a{
    font-size: 20px;
    text-decoration: none;
    margin: auto;
}

/* Sets backgroun color, adds padding, margin top, a flexbox layout and center items vertically */
footer {
    background-color: #e29292; 
    padding: 10px; 
    margin-top: auto; 
    display: flex;
    align-items: center;
}

/* Adds an undeline to the titles */
h2{
    text-decoration: underline;
}

/* Sets the font size and font family for the p element */
p{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* targets the 3erd elementi un the div if it's a p element turning it red, smaller than the first and set to the bottom of it's container */
div p:nth-child(3){
    font-size: 15px;
    color: red;
    margin-bottom: 0;
} 

/* Targets the divs in the blog-posts class to separate them 20px top, separate the contents 1% from the left and give it a purple border */
.blog-posts > div{
    padding-left: 1%;
    margin-top: 20px;
    border-style: solid;
    border-color: #6a59ca;
}

/* Sets the margin for the button, background color, color, adds the pointer effect and a sets the transition effect */
#back{
    margin-right: 30px;
    background-color: rgb(122, 211, 122);
    color: rgb(211, 76, 76);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Makes it so that when it's hovered grows 20% */
#back:hover{
    transform: scale(1.2);
}