/*Uses flexbox layout, center the items vertically and horizontally with a margin top of 10% */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

input:valid{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Sets the top margin, font family, center the text, sets colors for background and text and underlines it */
h3{
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: red;
    text-decoration: underline;
    color: yellow;
}
/* Adds a margin to the kermit class */
.Kermit{
    margin-right: 10px;
}

/* Sets a flexbox layout, sets the items vertically, aligns them to the top of the container and declares a margin to the left */
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 10px;
}

/* Sets the margin to the bottom and the font size for the diferents elements inside the .form class*/
.form label,
.form input,
.form button,
.form textarea {
    margin-bottom: 10px; 
    font-size: 25px;
}